# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

**Import pandas and read in the banklist.csv file into a dataframe called banks.**

In [4]:
import pandas as pd

In [5]:
banks=pd.read_csv(r"E:\DEPI\banklist.csv")

**Show the head of the dataframe**

In [7]:
# CODE HERE

In [8]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

**What are the column names?**

In [10]:
# CODE HERE

In [11]:
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

**How many States (ST) are represented in this data set?**

In [13]:
# CODE HERE

In [14]:
len(banks['ST'].unique())

44

**Get a list or array of all the states in the data set.**

In [16]:
# CODE HERE

In [17]:
banks['ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

**What are the top 5 states with the most failed banks?**

In [19]:
# CODE HERE

In [20]:
banks['ST'].value_counts().head(5)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

**What are the top 5 acquiring institutions?**

In [22]:
# CODE HERE

In [23]:
banks['Acquiring Institution'].value_counts().head(5)

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

**How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [25]:
# CODE HERE
# total num of Acquiring Institution
len(banks['Acquiring Institution'])

551

In [26]:
len(banks[banks['Acquiring Institution']!='No Acquirer'])

520

**What is the most common city in California for a bank to fail in?**

In [28]:
# CODE HERE

In [29]:
California_s=banks[banks['ST']=='CA']
California_s['City'].value_counts().idxmax()

'Los Angeles'

**How many failed banks don't have the word "Bank" in their name?**

In [31]:
# CODE HERE

In [32]:
banks_without_banks= banks[~banks['Bank Name'].str.contains('Bank',case=False ,na=False)] 
len(banks_without_banks)

10

**How many bank names start with the letter 's' ?**

In [34]:
# CODE HERE
banks_with_s= banks[banks['Bank Name'].str.startswith('S')] 
banks_with_s.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
28,Slavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB",30-May-14,12-Dec-16
34,Syringa Bank,Boise,ID,34296,Sunwest Bank,31-Jan-14,12-Apr-16
41,Sunrise Bank of Arizona,Phoenix,AZ,34707,"First Fidelity Bank, National Association",23-Aug-13,3-May-17
49,Sunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13,26-Jun-14

In [35]:
len(banks_with_s)

53

**How many CERT values are above 20000 ?**

In [37]:
# CODE HERE
cart_above= banks[banks['CERT']>20000] 
cart_above.head(10)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
5,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17,18-May-17
8,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16,6-Sep-16
10,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16,13-Mar-17
11,Hometown National Bank,Longview,WA,35156,Twin City Bank,2-Oct-15,13-Apr-16
12,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15,24-Oct-16
13,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15,17-Aug-16
14,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,8-May-15,12-Jul-16

In [38]:
len(cart_above)

417

**How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [40]:
# CODE HERE

In [41]:
bank_two_words=(banks['Bank Name'].str.split().apply(len)==2).sum()
bank_two_words

114

**How many banks closed in the year 2008?**

In [43]:
# CODE HERE
banks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              551 non-null    object
 1   City                   551 non-null    object
 2   ST                     551 non-null    object
 3   CERT                   551 non-null    int64
 4   Acquiring Institution  551 non-null    object
 5   Closing Date           551 non-null    object
 6   Updated Date           551 non-null    object
dtypes: int64(1), object(6)
memory usage: 30.3+ KB

In [44]:
closed_2008=banks['Closing Date'].str.contains('08',na=False)
closed_2008.sum()

25

# GREAT JOB!